@import url("./global.css");

/* body{
    background-color: var(--variable-example);
} */

.hero{
    margin-top: 57px;
    background: url("../assets/images/looney_tunes.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:770px) {
    .hero{
        background-position: top;
    }
    
}